form {

    margin: 10px 3px 30px 5px;
    width: 400px;
    

}

form div + div {
    margin-top: 20px;
}

label {
    
    color: white;
    display: inline-block;
    width: 90px;
    text-align: left;
}

input, textarea {
    font: 1em Roboto;
    color: #fff;
    background-color: #212227;

    padding: 3px 0 3px 10px;
    outline: none;

    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    
    border: 1.2px solid #fff;
    border-radius: 8px;
}